{% extends "base.html" %}

{% block content %}
<article>
<button id="take">Take a photo</button><br>
<video id="v"></video>
<canvas id="canvas" style="display:none;"></canvas>
<img src="http://placehold.it/300&text=Your%20image%20here%20..." id="photo" alt="photo"><br>
<input id="save_button" disabled="true" type="button" value="Save as file"/>
</article>
<script>
;(function(){
    function userMedia(){
        return navigator.getUserMedia = navigator.getUserMedia ||
        navigator.webkitGetUserMedia ||
        navigator.mozGetUserMedia ||
        navigator.msGetUserMedia || null;
 
    }

    /**
     * Преобразуем данные изображения из строки Base64 в Blob для сохранения на диск 
     */
    function base64toblob (base64)
    {
        var utf8 = atob(base64),
        array = [];
        //---
        for(var i = 0, j = utf8.length; i < j; i++)
        array.push(utf8.charCodeAt(i));
        //---
        return(new Blob([new Uint8Array(array)], {type: 'image/png'}));
    }
	function saveAs(file) {
		var xhr = XMLHttpRequest();
		xhr.open("POST", "/index");
		
	}
    // Now we can use it
    if( userMedia() ){
        var videoPlaying = false;
        var constraints = {
            video: true,
            audio:false
        };
        var video = document.getElementById('v');
 
        var media = navigator.getUserMedia(constraints, function(stream){
 
            // URL Object is different in WebKit
            var url = window.URL || window.webkitURL;
 
            // create the url and set the source of the video element
            video.srcObject = stream;
 
            // Start the video
            video.play();
            videoPlaying  = true;
        }, function(error){
            console.log("ERROR");
            console.log(error);
			alert("Use https, if webcam doesn't work");
        });
 
        // Listen for user click on the "take a photo" button
        document.getElementById('take').addEventListener('click', function(){
            if (videoPlaying){
                var canvas = document.getElementById('canvas');
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;
                canvas.getContext('2d').drawImage(video, 0, 0);
                var data = canvas.toDataURL('image/webp');
                
                document.getElementById('photo').setAttribute('src', data);
            }
        }, false);
        document.getElementById('save_button').addEventListener('click', function (){
            saveAs(base64toblob(canvas.toDataURL('image/png').split(',')[1]), 'image_from_camera.png');
        });
    } else {
        console.log("KO");
    }
})();
</script>
{% endblock %}
